In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import *
import plotly.graph_objs as go
import plotly.express as px
import seaborn as sns

In [14]:
df = pd.read_csv('height_cleaned.csv')

In [15]:
df.head()

,Unnamed: 0,Country Name,Average height in Cm,Male Height in Cm,Female Height in Cm
0,0,Netherlands,177.07,183.78,170.36
1,1,Montenegro,176.63,183.30,169.96
2,2,Estonia,175.72,182.79,168.66
3,3,Denmark,175.68,181.89,169.47
4,4,Iceland,175.50,182.10,168.91

In [11]:
df.describe()

,Unnamed: 0,Average height in Cm,Male Height in Cm,Female Height in Cm
count,199.000000,199.000000,199.000000,199.000000
mean,100.000000,167.015879,173.089045,160.942915
std,57.590508,4.432758,4.949832,4.076377
min,1.000000,156.420000,160.130000,150.910000
25%,50.500000,163.895000,169.490000,158.240000
50%,100.000000,167.000000,173.530000,160.620000
75%,149.500000,170.350000,176.510000,163.870000
max,199.000000,177.070000,183.780000,170.360000